* {
    background-color: var(--clr-main);
}

body {
    background-color: var(--clr-main);
    display: flex;
    height: 100vh;
}

.contenedor {
    display: flex; /* lo que haya dentro lo pone en fila (casi todo)*/
    width: 100%;
}

main {
    flex: 3; /* al poner 3, nos ocupa 3 cuartos de la pantalla */
    background-color: var(--clr-white);
    border-radius: 2rem; /*bordes redondeados */
    padding: 2rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    margin: 1rem; /*margen alredor*/
    overflow: auto;/*si el contenido es más grande que el contenedor muestra barras de desplazamiento para hacer scroll*/
    scrollbar-width: none; /*para que no aparezca la barra de scroll*/
}

.titulo-principal {
    font-size: 1.5rem;
    color: var(--clr-main);
    background-color: var(--clr-white);
    font-weight: bold;
    margin-bottom: 2rem;
    margin-left: 1.30rem;
    padding: 0;
}

.aside-visible {
    flex: 1;
    background-color: var(--clr-main);
    color: var(--clr-white);
    display: flex;
    flex-direction: column; /* lo ordenamos por columnas*/
    justify-content: space-between;
    padding: 1rem;
    height: 100%;
}

.aside-visible .logo {
    text-align: center;
    height: 100%;
    font-size: 1.5rem;
    font-weight: bold; /*negrita*/
    margin-bottom: 1rem;
    cursor: pointer; /*que cuando te pongas encima aparezca el símbolo de clicar*/
}

.boton-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
    color: var(--clr-white);
    background-color: var(--clr-main);
    border: none; /*ningún borde*/
    border-radius: 0.5rem;
    padding: 1rem;
    cursor: pointer;
    margin-bottom: 2rem;
    text-align: center;
    width: 90%;
}


.boton-menu.active { /*aquí estoy poniendo dos clases distintas, ya que en el main los botones tienen varias clases distintas*/
    background-color: var(--clr-white);
    font-weight: bold;
    color: var(--clr-main);
}
.boton-menu.boton-carrito {
    display: flex;
    align-items: center;
    justify-content: flex-start;/* lo utilizo para alinear el contenido a la izquierda de todo*/
    padding: 0.80rem;
    width: 90%;
}

.boton-carrito .numerito {
    background-color: var(--clr-main);
    color: var(--clr-white);
    font-weight: bold;
    border-radius: 0.5rem;
    padding: 0.25rem 0.25rem;
    text-align: center;
    margin-left: 1rem;
}


.boton-menu.active i {
    background-color: var(--clr-white);
    color: var(--clr-main); /*cambiamos el color del ícono a verde en la categoría que esté activa*/
}

.boton-menu i{
    margin-right: 1rem;
}

.boton-categoria i{
    transform: rotate(90deg); /*sirve para rotar el ícono que tenga en el html, en mi caso lo roto 90 grados porque lo quiero apuntando hacia la derecha*/
}


.texto-footer {
    text-align: left;
    font-size: 0.75rem;
    color: var(--clr-main-light);
    margin-bottom: 1rem;
}

#uno{
    display: none; /*de momento esto lo oculto ya que se necesita cuando es más pequeño*/
}

h1{
    margin-top: 2rem;
}

/*el botón de abrir menu y cerrarlo de momento los ocultamos*/
#open-menu{
    display: none;
}
#close-menu{
    display: none;
}

#inicio{
    color: var(--clr-white);
}


/*productos*/
.contenedor-productos {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap:1rem; /*espacio entre productos*/
    background-color: var(--clr-white);
}
.producto {
    background-color: var(--clr-white);
    border-radius: 1rem; 
    padding: 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0;
}
.producto-imagen {
    width: 100%;
    max-width: 15rem;
    border-radius: 1rem;
    margin-bottom: 0.5rem;
}

.producto-detalles{
    border-radius: 1rem; 
    padding: 0.5rem;
    margin-top: -2rem;
}


.producto-titulo {
    font-size: 1.25rem;
    font-weight: bold; /*negrita*/
    color: var(--clr-white);
    margin-bottom: 0.5rem;
    text-align: left;
}

.producto-precio {
    font-size: 1rem;
    color: var(--clr-white);
    text-align: left;
    margin-bottom: 0.25rem;
}

.producto-agregar {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: 0.5rem 5rem;
    border-radius: 1rem;
    font-size: 1rem;
    border: 0;
    cursor: pointer; /*que cuando te pongas encima aparezca el símbolo de clicar*/
}
